{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block content %}
<h1>Все товары!</h1>
<h3>{% current_time '%b %d %Y' %}</h3>
<h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
    {% if products %}
        <table>
            <tr>
                <td>Категория</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Описание</td>
            </tr>
            {% for product in products%}
            <tr>
                <td>{{product.category}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price|currency}}</td>
                <td>{{product.description|truncatewords:2}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2>Товаров нету!</h2>
    {% endif %}
{% endblock content %}